$grey: #d6dfc2;
$bright_blue: #9fedd4;
$teal: #44af92;
$navy: #016367;

body {
  background-color: $grey;
  color: $navy;
}

.well {
  background-color: $teal;
}

.btn {
  background-color: $bright_blue;
}

.user , .repos {
  display: none;
}
