$grey: #c7c9a9;
$soft_green: #7e8341;
$green: #9ea868;
$dark_olive: #4d4729;

body {
  background-color: $grey;
  color: $dark_olive;
  font-size: 15px;
}

.well {
  background-color: $green;
}

.btn {
  background-color: $soft_green;
}

.a {
  color: $dark_olive;
}

.li {
  margin-bottom: 20px;
}
